<div class="row">
  <!-- widget 1 -->

  <div class="col-xl-4 col-md-6">
    <div class="card bg-secondary-dark dashnum-card text-white overflow-hidden">
      <span class="round small"></span>
      <span class="round big"></span>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="avtar">
              <i class="text-white ti ti-credit-card"></i>
            </div>
          </div>
        </div>
        <span class="text-white d-block fs-1 fw-bold my-2">{{Total}} <i class="ti ti-arrow-up-right-circle opacity-50"></i></span>
        <h3 class="mb-0 opacity-20">Total Customers</h3>
      </div>
    </div>
  </div>

  <!-- widget 2 -->

  <div class="col-xl-4 col-md-6">
    <div class="card bg-secondary-dark dashnum-card text-white overflow-hidden">
      <span class="round small"></span>
      <span class="round big"></span>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="avtar">
              <!-- <i class="text-white ti ti-credit-card"></i> -->
              <i class="ti ti-arrow-up-right-circle opacity-20"></i>
            </div>
          </div>
          <div class="col-auto">
            <ul ngbNav class="nav-tabs nav-pills" #nav="ngbNav" (navChange)="onNavChange($event)">
              <li class="nav-item" [ngbNavItem]="1">
                <!-- <a class="nav-link text-white" ngbNavLink>Active</a> -->
                <ng-template ngbNavContent>
                  <div class="row">
                    <div class="col-6">
                      <!-- <span class="text-white d-block fs-1 fw-bold my-2" id="revenue">{{Revenue}}
                        
                      </span> -->
                      <!-- <i class="ti ti-arrow-up-right-circle opacity-50"></i> -->
                      <br>
                      <br>
                      
                      <h3 class="mb-0 opacity-20">₹{{Revenue}}</h3>
                      <h2 class="mb-0 opacity-20">Revenue</h2>
                      
                      
                    </div>
                    <!-- <div class="col-6">
                      <div id="tab-chart-1"></div>
                    </div> -->
                  </div>
                </ng-template>
              </li>
            </ul>
          </div>
        </div>
        <div [ngbNavOutlet]="nav"> </div>
      </div>
    </div>
  </div>
  
  
  <!-- widget 3 -->
  <div class="col-xl-4 col-md-6">
    <div class="card bg-secondary-dark dashnum-card text-white overflow-hidden">
      <span class="round small"></span>
      <span class="round big"></span>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="avtar">
              <i class="text-white ti ti-credit-card"></i>
            </div>
          </div>
          
        </div>
        <span class="text-white d-block fs-1 fw-bold my-2">{{planCount}} <i class="ti ti-arrow-up-right-circle opacity-50"></i></span>
        <h3 class="mb-0 opacity-20">Locations</h3>
      </div>
    </div>
  </div>

  
  
    <div class="col-xl-6 col-md-9">
    <div class="card">
      <div class="card-body">
        <div class="row mb-3 align-items-center">
          <div class="col">
            <!-- <small>Total Growth</small> -->
            <h3>Active Users</h3>
          </div>
         
        </div>
        <div id="growthChart">
          <apx-chart
            [series]="chartOptions.series"
            
            [chart]="chartOptions.chart"
            [dataLabels]="chartOptions.dataLabels"
            [plotOptions]="chartOptions.plotOptions"
            [responsive]="chartOptions.responsive"
            [xaxis]="chartOptions.xaxis"
            [colors]="chartOptions.colors"
            [grid]="chartOptions.grid"
            [tooltip]="chartOptions.tooltip"
          ></apx-chart>
        </div>
      </div>
    </div>
  </div>
<!-- inserted chart 2 -->

  <div class="col-xl-6 col-md-9">
    <div class="card">
      <div class="card-body">
        <div class="col">
          <!-- <small>Revenue by month</small> -->
          <h3>Revenue by month </h3>
        </div>

        <div id="growthChart2">
          <apx-chart
            [series]="chartOptions1.series"
            [chart]="chartOptions1.chart"
            [dataLabels]="chartOptions1.dataLabels"
            [plotOptions]="chartOptions1.plotOptions"
            [responsive]="chartOptions1.responsive"
            [xaxis]="chartOptions1.xaxis"
            [colors]="chartOptions1.colors"
            [grid]="chartOptions1.grid"
            [tooltip]="chartOptions1.tooltip"
          ></apx-chart>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-6 col-md-9">
    <div class="card">
        <div class="card-body">
          <div class="row mb-3 align-items-center">
            <div class="col">
              <h3>Plan based customers </h3>
            </div>
            </div>
            <div id="areaChart">
                <apx-chart
                [series]="donutchartOptions.series"
                [chart]="donutchartOptions.chart"
                [colors]="donutchartOptions.colors"
                [dataLabels]="donutchartOptions.dataLabels"
                [tooltip]="donutchartOptions.tooltip"
                [legend]="donutchartOptions.legend"
                [labels]="donutchartOptions.labels"
                ></apx-chart>
            </div>
        </div>
    </div>
  </div>
  
  
  <!-- pie -->
  
  <div class="col-xl-6 col-md-9">
    <div class="card">
        <div class="card-body">
          <div class="row mb-3 align-items-center">
            <div class="col">
              <!-- <small>pie chart</small> -->
              <h3>location based Customers</h3>
            </div>
            </div>
            <div id="areaChart">
                <apx-chart
                [series]="piechartOptions.series"
                [chart]="piechartOptions.chart"
                [colors]="piechartOptions.colors"
                [labels]="piechartOptions.labels"
                [tooltip]="piechartOptions.tooltip"
                [legend]="piechartOptions.legend"
                ></apx-chart>
            </div>
        </div>
    </div>
  </div>



<!-- donut  -->





<!-- <div class="col-xl-6 col-md-9">
  <div class="card">
      <div class="card-body">
          <div id="pieChart">
            <div class="row mb-3 align-items-center">
              <div class="col">
                <h3>Payment status</h3>
              </div>
              </div>
              <apx-chart
                  [series]="polarChartOptions.series"
                  [chart]="polarChartOptions.chart"
                  [colors]="polarChartOptions.colors"
                  [dataLabels]="polarChartOptions.dataLabels"
                  [tooltip]="polarChartOptions.tooltip"
                  [stroke]="polarChartOptions.stroke"
                  [responsive]="polarChartOptions.responsive"
                  [labels]="polarChartOptions.labels"
              ></apx-chart>
          </div>
      </div>
  </div>
</div> -->

<div class="col-xl-6 col-md-9">
  <div class="card">
      <div class="card-body">
        <div class="row mb-3 align-items-center">
          <div class="col">
            <!-- <small>pie chart</small> -->
            <h3>Plan based Revenue </h3>
          </div>
          </div>
          <div id="areaChart">
              <apx-chart
              [series]="radarchartOptions.series"
              [chart]="radarchartOptions.chart"
              [colors]="radarchartOptions.colors"
              [labels]="radarchartOptions.labels"
              [tooltip]="radarchartOptions.tooltip"
              [legend]="radarchartOptions.legend"
              [xaxis]="radarchartOptions.xaxis"
              ></apx-chart>
          </div>
      </div>
  </div>
</div>

<div class="col-xl-6 col-md-9">
  <div class="card">
      <div class="card-body">
          <div id="pieChart">
            <div class="row mb-3 align-items-center">
              <div class="col">
                <!-- <small>Total Growth</small> -->
                <h3>Payment Mode </h3>
              </div>
              </div>
              <apx-chart
                  [series]="areachartOptions.series"
                  [chart]="areachartOptions.chart"
                  [colors]="areachartOptions.colors"
                  [dataLabels]="areachartOptions.dataLabels"
                  [tooltip]="areachartOptions.tooltip"
                  [stroke]="areachartOptions.stroke"
                  [responsive]="areachartOptions.responsive"
                  [labels]="areachartOptions.labels"
                  [yaxis]="areachartOptions.yaxis"
                  [stroke]="areachartOptions.stroke"
              ></apx-chart>
          </div>
      </div>
  </div>
</div>
<div class="col-xl-6 col-md-6">
  <div class="card">
      <div class="card-body">
        <div class="row mb-3 align-items-center">
          <div class="col">
            <!-- <small>pie chart</small> -->
            <h3>Customer Satisfaction</h3>
          </div>
          </div>
          <div id="areaChart">
              <apx-chart
              [series]="rchartOptions.series"
              [chart]="rchartOptions.chart"
              [colors]="rchartOptions.colors"
              [labels]="rchartOptions.labels"
              [tooltip]="rchartOptions.tooltip"
              [legend]="rchartOptions.legend"
              [xaxis]="rchartOptions.xaxis"
              [plotOptions] = "rchartOptions.plotOptions"
          
              ></apx-chart>
          </div>
      </div>
  </div>
</div>



<div class="col-xl-6 col-md-9">
  <div class="card">
      <div class="card-body">
        <div class="row mb-3 align-items-center">
          <div class="col">
            <h3>Billing Anomaly </h3>
          </div>
          </div>
          <div id="areaChart">
              <apx-chart
              [series]="anamolychartOptions.series"
              [chart]="anamolychartOptions.chart"
              [colors]="anamolychartOptions.colors"
              [dataLabels]="anamolychartOptions.dataLabels"
              [tooltip]="anamolychartOptions.tooltip"
              [legend]="anamolychartOptions.legend"
              [labels]="anamolychartOptions.labels"
              
              ></apx-chart>
          </div>
      </div>
  </div>
</div>

</div>
<!-- <app-cust-list></app-cust-list> -->
<!-- <app-customer></app-customer> -->