<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Complaint Status">
      <table >
        <thead>
          <tr>
            <th>CUSTOMER ID</th>
            <th>CUSTOMER NAME</th>
            <th>LOCATION</th>
            <th>PLAN</th>
            <th>BILL</th>
            <th>DATE OF ISSUE</th>
            <th>STATUS</th>
            <!-- <th>ACTION</th> -->
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of compList" >
            <td>{{ item.cid }}</td>
            <td>{{ item.cname }}</td>
            <td>{{ item.location }}</td>
            <td>{{ item.plan }}</td>
            <td>{{item.issue}}</td>
            <td>{{ item.issueDate }}</td>
            <td>{{item.status}}</td>
            <!-- <td><input type="button" value = "action" (click)="showpopup(item)"></td> -->
            <!-- <td><input type="button" value="view"></td> -->
            <!-- <td><button (click)="onView(item)">View</button></td> -->
          </tr>
        </tbody>
      </table>

      
    </app-card>
  </div>
</div>
