

<!-- <section class="vh-200" style="background-color: #ebeef6;"> -->
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-13 mb-2 mb-lg-0">
          <div class="card mb-3" style="border-radius: .5rem;">
            <div class="row g-0">
              <div class="col-md-4 gradient-custom text-center text-white"
                style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                <img src="https://static.vecteezy.com/system/resources/previews/018/765/757/original/user-profile-icon-in-flat-style-member-avatar-illustration-on-isolated-background-human-permission-sign-business-concept-vector.jpg"
                  alt="Avatar" class="img-fluid my-5" style="width: 80px;border-radius: 100px;" />
                <h3>Ranjanaa Y</h3>
                <h4>Admin</h4>
                <i class="far fa-edit mb-5"></i>
              </div>
              <div class="col-md-8">
                <div class="card-body p-4">
                  <h4>Information</h4>
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h5>First Name</h5>
                      <p class="text-muted">Ranjanaa </p>
                    </div>
                    <div class="col-6 mb-3">
                      <h5>Last Name</h5>
                      <p class="text-muted">Y</p>
                    </div>
                    <div class="col-6 mb-3">
                      <h5>Email</h5>
                      <p class="text-muted">ranjanaa.r@prodapt.com</p>
                    </div>
                    <div class="col-6 mb-3">
                      <h5>Phone</h5>
                      <p class="text-muted">9884128606</p>
                    </div>
                    <div class="col-6 mb-3">
                      <h5>Company</h5>
                      <p class="text-muted">Telco</p>
                    </div>
                    <div class="col-6 mb-3">
                      <h5>Emp Id</h5>
                      <p class="text-muted">80368</p>
                    </div>
                  </div>
                  <h4>Projects</h4>
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h5>Recent</h5>
                      <p class="text-muted">Telecom DashBoard - 2023</p>
                    </div>
                    
                    <!-- <div class="col-6 mb-3">
                      <h6>Most Viewed</h6>
                      <p class="text-muted">Dolor sit amet</p>
                    </div>
                    <div class="col-6 mb-3">
                        <h6>Recent</h6>
                        <p class="text-muted">Lorem ipsum</p>
                      </div>
                      <div class="col-6 mb-3">
                        <h6>Most Viewed</h6>
                        <p class="text-muted">Dolor sit amet</p>
                      </div>
                      <div class="col-6 mb-3">
                        <h6>Recent</h6>
                        <p class="text-muted">Lorem ipsum</p>
                      </div>
                      <div class="col-6 mb-3">
                        <h6>Most Viewed</h6>
                        <p class="text-muted">Dolor sit amet</p>
                      </div> -->
                  </div>
                  
                  <div class="d-flex justify-content-start">
                    <a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
                    <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
                    <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    
      
  <!-- </section> -->